# requirements placeholder

# Core scraping
beautifulsoup4
selenium
requests
pycountry

# Core processing
pypdf
python-docx

# Scorecard processing
pandas
openpyxl

# Development + testing
pytest
pytest-cov

# Docs + formatting
markdown-link-checker
mdformat
pre-commit
