# requirements placeholder

# Core scraping
beautifulsoup4
selenium
requests
pycountry

# Core processing
PyPDF2
reportlab
python-docx

# Scorecard processing
pandas
openpyxl
odfpy

# Development + testing
pytest
pytest-cov
pandoc
logging

# Docs + formatting
markdown-link-checker
mdformat
pre-commit
